* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
  cursor: pointer;
}
a:visited,
a:link {
  text-decoration: none;
  color: #000;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
header .logo img {
  width: 100px;
}
header div ul {
  padding: 10px;
}
header div ul a {
  padding: 10px;
  font-size: 16px;
  color: #2d135a;
}
header div ul a:last-of-type {
  color: #fff;
  background: #2d135a;
}
.hero_banner img {
  width: 100%;
  height: 600px;
  vertical-align: top;
}
.sd_wan_info {
  background: url(./images/SD-WAN.png) no-repeat;
  max-width: 100%;
  height: 400px;
  background-position: top;
  background-size: cover;
  position: relative;
}
/* .sd_wan_info img {
  width: 100%;
  height: 400px;
  vertical-align: top;
} */
.sd_wan_info button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 10px 30px;
  color: #000;
  font-size: 16px;
}
.sd_wan_info h1 {
  padding-top: 100px;
  padding-left: 100px;
  font-size: 40px;
  /* position: absolute;
  left: 40px;
  bottom: 50px; */
  color: #fff;
}
.home_industries {
  text-align: center;
}
.home_industries h1 {
  font-size: 40px;
  margin: 20px 0;
}
.home_industries_block {
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.home_industries_block div {
  margin-bottom: 40px;
  position: relative;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.home_industries_block div:hover p:nth-of-type(2) {
  opacity: 1;
}
.home_industries_block div img {
  width: 300px;
  vertical-align: top;
}
.home_industries_block div p {
  transition: opacity 1s;
  background: #fff;
  color: #2d135a;
  padding: 20px;
  font-weight: bold;
  /* border: 1px solid #2d135a; */
}
.home_industries_block div p:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_industries > button {
  padding: 10px 20px;
  font-size: 16px;
  background: #2d135a;
  color: #fff;
}
.home_request_a_demo_banner {
  margin-top: 20px;
  background: url(./images/customerPage.png) no-repeat;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: top;
  color: #fff;
}
.home_request_a_demo_banner h1 {
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  padding-top: 100px;
}
/* .home_request_a_demo_banner img {
  height: 400px;
  width: 100%;
} */
footer {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
footer p {
  color: #5f6368;
}
footer a:link,
footer a:visited {
  color: #5f6368;
}
.footer_stay_connected ion-icon {
  color: #2d135a;
  font-size: 25px;
}
.footer_stay_connected ion-icon:nth-of-type(1) {
  color: #3b5998;
}
.footer_stay_connected ion-icon:nth-of-type(2) {
  color: #00acee;
}

.footer_stay_connected ion-icon:nth-of-type(4) {
  color: #0077b5;
}
.footer_stay_connected ion-icon:nth-of-type(5) {
  color: #c4302b;
}
footer h1 {
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0;
}
.footer_support div,
.footer_support h4 {
  margin-bottom: 10px;
}
.footer_support h4 {
  opacity: 0.8;
}

/* ********  OUR FOCUS *******/
/* ************************/
.our_focus_banner {
  background: url(./images/our_focus_background_Image.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  text-align: center;
}
.our_focus_banner h1 {
  padding-top: 100px;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}
.our_focus_sections {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 40px;
}
.our_focus_sections > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.our_focus_sections > div div {
  flex: 1 1 200px;
  padding: 20px;
}
.our_focus_sections > div div img {
  max-width: 100%;
}
.our_focus_sections > div div p {
  line-height: 1.5;
  color: #5f6368;
}
.our_focus_sections > div div h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

/* About******** */
.about_banner {
  background: url(./images/about_us_hero.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  text-align: center;
}
.about_banner h1 {
  padding-top: 50px;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}

.about_our_story {
  background: url(./images/about/Our_Source_textured_background_3.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.about_our_story div {
  padding-top: 50px;
  padding-left: 100px;
  color: #fff;
}
.about_our_story div h1 {
  font-size: 100px;
  font-weight: 400;
}
.know_us_more {
  margin-top: 20px;
  padding: 10px;
}
.know_us_more > h1 {
  margin: 20px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.know_us_more > div {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.know_us_more div div {
  flex: 0 1 300px;
  background: #2d135a;
  color: #fff;
  padding: 20px;
  line-height: 1.5;
}
.know_us_more div div h1 {
  margin: 10px 0;
}

/********* Contact */
.contact_banner {
  background: url(./images/contact_banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  text-align: center;
}
.contact_banner h1 {
  padding-top: 50px;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}
.contact_details {
  max-width: 1024px;
  margin: 0 auto;
}
.contact_details > div {
  display: flex;
  justify-content: space-between;
}
.contact_form input {
  display: block;
}
