@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
  --main-purple: #2d135a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

button {
  cursor: pointer;
}
a:visited,
a:link {
  text-decoration: none;
  color: #000;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
header .logo img {
  width: 100px;
}
header div ul {
  padding: 0.6rem;
}

header div ul a {
  padding: 0.6rem;
  font-size: 1rem;
  color: #2d135a;
}
.active_nav {
  position: relative;
}
.active_nav:before {
  position: absolute;
  border-bottom: 2px solid #2d135a;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 50%;
  overflow: hidden;
  transition: left 0.4s, right 0.4s;
  content: '';
}
header div ul a:last-of-type {
  color: #fff;
  background: #2d135a;
}
.menu_icon {
  display: none;
  margin-right: 10px;
  font-size: 30px;
  color: #2d135a;
  cursor: pointer;
}

.menu_icon_nav {
  position: absolute;
  border-top: 1px solid #2d135a;
  top: 60px;
  left: 0;
  height: 50px;
  color: black;
  font-size: 20px;
  z-index: 60;
  background: #fff;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}
.displayNone {
  opacity: 1;
}
.menu_icon_nav ul {
  background: #fff;
}
.menu_icon_nav ul a {
  display: block;
  border-bottom: 1px solid #2d135a;
}

@media (max-width: 575.98px) {
  header div:nth-of-type(2) ul {
    display: none;
  }
  .menu_icon {
    display: block;
  }
}

.hero_banner img {
  width: 100%;
  /* height: 85vh; */
  vertical-align: top;
  margin-bottom: 40px;
}
.slide_1,
.slide_2 {
  position: relative;
}
.slide_1 h1 {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 80px;
  color: #2d135a;
}
.slide_2 h1 {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 60px;
  color: #fff;
}

@media only screen and (max-width: 1199.98px) {
  .slide_1 h1 {
    top: 30%;
    left: 20%;
    font-size: 80px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 20%;
    font-size: 60px;
  }
}
@media only screen and (max-width: 991.98px) {
  .slide_1 h1 {
    top: 30%;
    left: 27%;
    font-size: 60px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 22%;
    font-size: 50px;
  }
}
@media only screen and (max-width: 916px) {
  .slide_1 h1 {
    top: 30%;
    left: 22%;
    font-size: 60px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 20%;
    font-size: 50px;
  }
}
@media only screen and (max-width: 767.98px) {
  .slide_1 h1 {
    top: 30%;
    left: 20%;
    font-size: 50px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 15%;
    font-size: 50px;
  }
}
@media only screen and (max-width: 705px) {
  .slide_2 h1 {
    top: 30%;
    left: 10%;
    font-size: 50px;
  }
}
@media only screen and (max-width: 720px) {
  .slide_2 h1 {
    top: 30%;
    left: 15%;
    font-size: 40px;
  }
}
@media only screen and (max-width: 575.98px) {
  .slide_1 h1 {
    top: 30%;
    left: 15%;
    font-size: 50px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 10%;
    font-size: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .slide_1 h1 {
    top: 20%;
    left: 12%;
    font-size: 40px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 10%;
    font-size: 30px;
  }
}
@media only screen and (max-width: 375px) {
  .slide_1 h1 {
    top: 20%;
    left: 15%;
    font-size: 30px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 15%;
    font-size: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .slide_1 h1 {
    top: 20%;
    left: 15%;
    font-size: 25px;
  }
  .slide_2 h1 {
    top: 30%;
    left: 15%;
    font-size: 20px;
  }
}

.sd_wan_info {
  background: url(./images/home_sdwan_landing_page.jpg) no-repeat;
  max-width: 100%;
  height: 500px;
  background-position: top;
  background-size: cover;
  position: relative;
  color: #fff;
}

.sd_wan_info button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 10px 30px;
  color: #2d135a;
  font-size: 16px;
  background: #fff;
}
.sd_wan_info h1 {
  padding-top: 150px;
  padding-left: 100px;
  font-size: 70px;
  font-weight: 400;
  line-height: 0.7;
}
.sd_wan_info h1 span {
  font-size: 30px;
}
.sd_wan_info p {
  padding-top: 50px;
  padding-left: 100px;
  font-size: 30px;
}

.sd_wan_info a:link,
.sd_wan_info a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.home_industries {
  text-align: center;
}
.home_industries h1 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 400;
  color: #2d135a;
  position: relative;
}
.home_industries h1::after {
  display: block;
  height: 2px;
  background-color: #421b85;
  content: '';
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.home_industries_block {
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.home_industries_block div {
  margin-bottom: 40px;
  position: relative;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.home_industries_block div:hover p:nth-of-type(2) {
  opacity: 1;
}
.home_industries_block div img {
  width: 300px;
  vertical-align: top;
}
.home_industries_block div p:nth-of-type(1) {
  color: #2d135a;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.home_industries_block div p:nth-of-type(2) {
  background: #fff;
  color: #2d135a;
  padding: 20px;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  font-weight: 200;
}
.home_industries_block div p:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_industries > button {
  padding: 10px 40px;
  font-size: 16px;
  background: #2d135a;
  color: #fff;
}
.home_industries > button a:link,
.home_industries > button a:visited {
  padding: 10px 40px;
  font-size: 16px;
  background: #2d135a;
  color: #fff;
}
.home_request_a_demo_banner {
  margin-top: 20px;
  background: url(./images/home_request_a_demo.jpg) no-repeat;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: top;
  color: #fff;
}

.home_request_a_demo_banner h1 {
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  padding-top: 100px;
}

footer {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  color: #2d135a;
  border-top: 1px solid #2d135a;
}
footer p {
  color: #421b85;
}
footer a:link,
footer a:visited {
  color: #421b85;
}
.footer_stay_connected ion-icon {
  color: #2d135a;
  font-size: 25px;
}
.footer_stay_connected ion-icon:nth-of-type(1) {
  color: #3b5998;
}
.footer_stay_connected ion-icon:nth-of-type(2) {
  color: #00acee;
}

.footer_stay_connected ion-icon:nth-of-type(4) {
  color: #0077b5;
}
.footer_stay_connected ion-icon:nth-of-type(5) {
  color: #c4302b;
}
footer h1 {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
}
.footer_support div,
.footer_support h4 {
  margin-bottom: 10px;
}
.footer_support h4 {
  opacity: 0.8;
}
@media only screen and (max-width: 575.98px) {
  .sd_wan_info {
    height: 400px;
  }
  .sd_wan_info h1 {
    padding-top: 50px;
    padding-left: 10px;
    font-size: 35px;
    line-height: 1;
    color: #fff;
  }
  .sd_wan_info p {
    padding-top: 50px;
    padding-left: 15px;
    font-size: 30px;
  }
  .home_request_a_demo_banner h1 {
    font-size: 50px;
  }
  .home_request_a_demo_banner {
    height: 300px;
  }
}
/* ********  OUR FOCUS *******/
/* ************************/
.our_focus_banner {
  background: url(./images/focus_banner.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 400px;
  text-align: right;
}
.our_focus_banner h1 {
  padding-top: 14%;
  padding-right: 5%;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}
.our_focus_sections {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 40px;
}
.our_focus_sections > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.our_focus_sections > div div {
  flex: 0 1 45%;
  padding: 20px;
}
@media (max-width: 575.98px) {
  .our_focus_sections > div {
    flex-direction: column;
  }
  .our_focus_banner {
    height: 300px;
  }
  .our_focus_banner h1 {
    padding-top: 30%;
    font-size: 60px;
  }
  .our_focus_sections > div:nth-of-type(odd) {
    flex-direction: column-reverse;
  }
}
.our_focus_sections > div div img {
  max-width: 100%;
}
.our_focus_sections > div div p {
  line-height: 1.5;
  color: #5f6368;
}
.our_focus_sections > div div h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}
.our_focus_svg_icons img {
  width: 20px;
  margin-right: 10px;
}

/************ About******** */
/******************** */
.about_banner {
  background: url(./images/about_banner.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 400px;
  text-align: right;
}
.about_banner h1 {
  padding-top: 14%;
  padding-right: 5%;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}

.about_our_story {
  background: url(./images/about/Our_Source_textured_background_3.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.about_our_story div {
  padding-top: 5%;
  padding-left: 10%;
  color: #fff;
}
.about_our_story div h1 {
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_our_story div p {
  max-width: 500px;
  font-size: 20px;
  line-height: 1.5;
}
.know_us_more {
  padding: 10px;
  margin-bottom: 50px;
}
.know_us_more > h1 {
  margin: 40px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #2d135a;
}

.know_us_more > div {
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.know_us_more div div {
  flex: 0 1 300px;
  background: #2d135a;
  color: #fff;
  padding: 20px 30px 50px 30px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.know_us_more div div h1 {
  margin: 10px 0;
  font-weight: 600;
}
.know_us_more div div img {
  width: 30px;
  margin-left: 20px;
}
.know_us_more div div p {
  line-height: 1.5;
  font-weight: 200;
}
@media only screen and (max-width: 767.98px) {
  .about_banner h1 {
    font-size: 80px;
  }
}
@media (max-width: 575.98px) {
  .about_our_story div h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .about_our_story div p {
    font-size: 16px;
    max-width: 100%;
    word-break: break-all;
    hyphens: auto;
  }
  .about_banner {
    height: 300px;
    background-position: left;
  }
  .about_banner h1 {
    padding-right: 1%;
    padding-top: 30%;
    font-size: 60px;
  }
  .about_our_story {
    height: 300px;
  }
  .about_our_story div {
    padding: 10px;
    padding-top: 30px;
    color: #fff;
  }
  .know_us_more > div {
    justify-content: center;
  }
  .know_us_more > h1 {
    font-size: 30px;
  }
}

/********* Contact */
.contact_banner {
  background: url(./images/contact_banner.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 400px;
  text-align: right;
}
.contact_banner h1 {
  padding-top: 14%;
  padding-right: 10%;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}

.contact_main {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
}
.contact_main > h1 {
  padding: 40px 0;
  font-size: 40px;
  font-weight: 400;
  color: #2d135a;
}
.contact_main_sub1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact_main_sub1 div {
  flex: 0 1 350px;
  background: #2d135a;
  padding: 40px;
  color: #fff;
  margin-bottom: 20px;
}
.contact_form label {
  display: block;
  font-weight: 200;
  margin-bottom: 10px;
}
.contact_form input,
.contact_form textarea {
  width: 100%;
  display: block;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}
.contact_form button {
  padding: 5px 10px;
  font-size: 14px;
  background: #fff;
  width: 100%;
  margin-top: 20px;
}
.contact_form textarea {
  resize: none;
  max-height: 120px;
}
.contact_main_sub1 div:nth-of-type(2) {
  line-height: 1.5;
}
.contact_main_sub1 div:nth-of-type(2) p {
  margin-bottom: 20px;
}
.contact_main_sub1 div:nth-of-type(2) ion-icon {
  vertical-align: middle;
  font-size: 25px;
}
@media (max-width: 575.98px) {
  .contact_banner {
    height: 300px;
  }
  .contact_banner h1 {
    padding-top: 30%;
    padding-right: 1%;
    color: #fff;
    font-size: 60px;
  }
  .contact_main_sub1 {
    justify-content: center;
    flex-direction: column;
  }
  .contact_main_sub1 div {
    padding: 20px;
  }
}
/********* SD_WAN********/
/*******************/
.sd_wan_banner {
  background: url(./images/sd_banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  text-align: right;
  color: #2d135a;
}
.sd_wan_banner h1 {
  padding-top: 15%;
  padding-right: 16%;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}
.sd_wan_banner p {
  padding-right: 16%;
  font-weight: 400;
}
.sd_wan_section_2 {
  width: 100%;
  height: 50px;
  background: #705cb1;
}
.sd_wan_section_3 {
  text-align: center;
  max-width: 1024px;
  margin: 30px auto;
  padding: 20px;
}
.sd_wan_section_3_4tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sd_wan_section_3_4tabs div {
  flex: 0 1 45%;
  text-align: start;
  margin-bottom: 20px;
}

.sd_wan_section_3 h1 {
  font-size: 40px;
}
.sd_wan_section_3 > p:nth-of-type(1) {
  max-width: 700px;
  margin: auto;
  font-size: 20px;
  margin: 30px auto;
}
.sd_wan_section_3_4tabs h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
.sd_wan_section_3_4tabs span img {
  margin-right: 10px;
  width: 25px;
}
.sd_wan_section_3_4tabs p {
  font-weight: 200;
  line-height: 1.5;
  text-align: justify;
}
.sd_wan_section_3 > p:nth-of-type(2) {
  font-size: 25px;
  margin: 60px auto;
}
.sd_wan_section_3_subSec2 {
  background: url(./images/abstract_wave01.png);
  background-size: cover;
  background-position: center;
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sd_wan_section_3_subSec2 * {
  flex: 0 1 50%;
}

.sd_wan_section_3_subSec2 div {
  max-width: 400px;
}
.sd_wan_section_3_subSec2 div img {
  width: 100%;
  height: 100%;
}
.sd_wan_section_3_subSec2 h1 {
  align-self: center;
  font-weight: 200;
  color: #2d135a;
  text-align: left;
}
.sd_wan_section_4 {
  background: #2d135a;
  color: #fff;
  padding: 10px;
}
.sd_wan_section_4 h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.sd_wan_section_4 > div {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}
.sd_wan_section_4 > div > div {
  flex: 0 1 50%;
  text-align: center;
}

.sd_wan_section_4 > div > div p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 20px;
}
.sd_wan_section_4 > div > div p:nth-of-type(2) {
  font-weight: 200;
  font-size: 16px;
}
.sd_wan_section_4 > div > div button {
  padding: 10px 30px;
  margin: 20px 0;
  background: #fff;
}
@media only screen and (max-width: 767.98px) {
  .sd_wan_banner h1 {
    padding-top: 20%;
    padding-right: 10%;
  }
  .sd_wan_banner p {
    padding-right: 10%;
  }
}

@media (max-width: 575.98px) {
  .sd_wan_banner {
    background-position: left;
    height: 300px;
  }
  .sd_wan_banner h1 {
    padding-top: 30%;
    padding-right: 10%;
    font-size: 60px;
  }
  .sd_wan_banner p {
    padding-right: 10%;
    font-size: 12px;
  }
  .sd_wan_section_3_4tabs div {
    flex: 0 1 100%;
  }
  .sd_wan_section_3_subSec2 * {
    flex: 0 1 100%;
  }
  .sd_wan_section_3 h1 {
    font-size: 30px;
  }
  .sd_wan_section_3_4tabs h1 {
    font-size: 20px;
    text-align: left;
  }
  .sd_wan_section_4 > div > div {
    flex: 0 1 100%;
  }
  .sd_wan_section_4 > div {
    padding: 10px;
  }
  .sd_wan_section_3 > p:nth-of-type(2) {
    font-size: 20px;
  }
  .sd_wan_section_3_4tabs p {
    text-align: justify;
  }
  .sd_wan_section_3_subSec2 h1 {
    font-size: 30px;
  }
}
/********* IOT********/
/************************/
.iot_banner {
  background: url(./images/iot_banner.png) no-repeat;
  background-position: top;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: #fff;
}
.iot_banner h1 {
  padding-top: 10%;
  font-size: 60px;
}
.iot_section2,
.iot_section3 div,
.iot_section4,
.iot_section5,
.iot_section6,
.iot_section7 {
  max-width: 1024px;
  margin: auto;
}
.iot_section2 {
  padding: 40px 10px;
  color: #2d135a;
  line-height: 2;
}
.iot_section2 h1 {
  font-weight: 400;
  font-size: 40px;
}
.iot_section2 p {
  font-weight: 200;
}
.iot_section3 {
  background: linear-gradient(rgba(4, 0, 79, 0.603), rgba(4, 0, 79, 0.603)),
    url(./images/iot_banner2.png) no-repeat;
  background-position: top;
  background-size: cover;
  height: 400px;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  line-height: 2;
}
.iot_section3 img {
  width: 100px;
}
.iot_section3 h1 {
  font-size: 40px;
  font-weight: 400;
}
.iot_section3 p {
  font-size: 25px;
  font-weight: 200;
  line-height: 1;
}
.iot_section4 {
  padding: 40px 10px;
  color: #2d135a;
  line-height: 2;
}
.iot_section4 h1 {
  font-weight: 400;
  font-size: 40px;
}
.iot_section4 p {
  font-weight: 200;
}
.iot_section5 {
  padding-top: 40px;
  background: #2d135a;
}
.iot_section5 > div {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.iot_section5 > div div {
  width: 200px;
  height: 150px;
  background: #dfd1f2;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 20px;
}
.iot_section5 div img {
  width: 30px;
  margin-bottom: 10px;
}
.iot_section6 {
  padding: 40px 10px;
  color: #2d135a;
  line-height: 2;
}
.iot_section6 h1 {
  font-weight: 400;
  font-size: 40px;
}
.iot_section6 p {
  font-weight: 200;
}

.iot_section7 {
  background: #2d135a;
  padding: 40px;
}
.iot_section7 form input {
  padding: 10px;
  margin-bottom: 10px;
}
.iot_section7 form button {
  padding: 10px 20px;
  color: #fff;
  background: #2d135a;
  border: 1px solid #fff;
}
/********* AI********/
/************************/
.ai_banner {
  background: url(./images/ai_banner.png) no-repeat;
  background-position: top;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: #fff;
}
.ai_banner h1 {
  padding-top: 10%;
  font-size: 60px;
}
.ai_section2 {
  max-width: 1024px;
  margin: auto;
  line-height: 1.5;
  padding: 40px 10px;
  color: #2d135a;
}
.ai_section3 {
  max-width: 1024px;
  margin: auto;
  text-align: center;
  color: #2d135a;
}
.ai_section3 > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ai_section3 > div div {
  width: 300px;
}
.ai_section3 > div div img {
  width: 50px;
}
.ai_section3 > div div div:nth-of-type(2) p {
  text-align: justify;
}
.ai_section4 {
  max-width: 1024px;
  margin: auto;
  color: #2d135a;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 10px;
}
.ai_section4 > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ai_section4 div > div {
  max-width: 50%;
  margin: 40px 0;
}
.ai_section4 div img {
  max-width: 300px;
  height: 200px;
}
/* .ai_section4 div > div:first-of-type{
  text-align: center;
} */


/********* Office in a box********/
/************************/
.office_box_banner {
  height: 400px;
  text-align: center;
  background-color: bisque;
}
.office_box_banner h1 {
  padding-top: 10%;
  font-size: 60px;
}
.office_box_section2 {
  max-width: 1024px;
  margin: 40px auto;
  color: #2d135a;
  line-height: 1.5;
}

.office_box_section2 > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.office_box_section2 > div {
  margin-bottom: 40px;
}
.office_box_section2 > div:nth-of-type(1) > div {
  width: 50%;
}
.office_box_section2 > div:nth-of-type(1) div:nth-of-type(1) {
  padding-right: 20px;
}
.office_box_section2 > div:nth-of-type(1) div:nth-of-type(1) p {
  margin-top: 20px;
  font-weight: 200;
}
.office_box_section2 > div:nth-of-type(1) div img {
  max-width: 400px;
}
.office_box_section2 > div:nth-of-type(2) p {
  margin-top: 20px;
  font-weight: 200;
  word-spacing: 10px;
  /* max-width: 60%; */
}
.office_box_section2 > div:nth-of-type(3) img {
  max-width: 100%;
}
.office_box_section3 {
  max-width: 1024px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #2d135a;
}
.office_box_section3 div {
  width: 300px;
  padding: 20px;
  background-color: #c4c4c485;
  margin-bottom: 20px;
}
.office_box_section3 div img {
  width: 20px;
  margin-right: 10px;
  color: #2d135a;
}
.office_box_section3 div h1 {
  font-size: 16px;
  margin-bottom: 10px;
}
.office_box_section3 div p {
  font-weight: 200;
}
.office_box_section4 {
  max-width: 1024px;
  margin: 40px auto;
  color: #2d135a;
}
.office_box_section4 li {
  list-style: circle;
  font-weight: 200;
}
.office_box_section4 > div:nth-of-type(2) {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.office_box_section4 > div:nth-of-type(2) div:not(:nth-of-type(3)) {
  border-right: 1px solid #2d135a;
}
.office_box_section4 > div:nth-of-type(2) div {
  padding: 20px 40px 20px 0;
}
.office_box_section4 > div:nth-of-type(2) div p {
  font-weight: 200;
}
.office_box_section5 {
  color: #2d135a;
  max-width: 768px;
  margin: 40px auto;
  text-align: center;
}
.office_box_section5 span {
  font-weight: 200;
}
.office_box_section6 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 40px auto;
  background-color: rgb(222, 222, 223);
  padding: 40px;
}
.office_box_section6 div {
  background-color: bisque;
  padding: 80px;
}

.office_box_section7 {
  color: #fff;
  background-color: #2d135a;
  max-width: 1024px;
  margin: 40px auto;
  padding: 80px 4px;
  text-align: center;
}
.office_box_section7 p {
  font-weight: 200;
  font-size: 20px;
}
.office_box_section7 h1 {
  font-weight: 400;
  font-size: 40px;
}
/* @media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
} */

/* font-size: calc(16px + 0.35vw);
  line-height: calc(22px + 1.05vw); */
/* @media only screen and (max-width: 575.98px) {
  html {
    font-size: 100%;
  }
} */
/* h1 {
  font-size: 1.912em;
  line-height: calc(30px + 1.8vw);
}
h2 {
  font-size: 1.616em;
  line-height: calc(30px + 1vw);
}
h3 {
  font-size: 1.471em;
  line-height: calc(30px + 0.7vw);
}
h4 {
  font-size: 1.3em;
  line-height: calc(30px + 0.2vw);
}
h5 {
  font-size: 1.243em;
  line-height: calc(30px + 0.2vw);
}
h6 {
  font-size: 1.132em;
  line-height: calc(30px + 0.2vw);
} */
