@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
  --main-purple: #2d135a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: calc(16px + 0.35vw);
  line-height: calc(22px + 1.05vw); */
  line-height: 1.5;
}
/* @media only screen and (max-width: 575.98px) {
  html {
    font-size: 100%;
  }
} */
/* h1 {
  font-size: 1.912em;
  line-height: calc(30px + 1.8vw);
}
h2 {
  font-size: 1.616em;
  line-height: calc(30px + 1vw);
}
h3 {
  font-size: 1.471em;
  line-height: calc(30px + 0.7vw);
}
h4 {
  font-size: 1.3em;
  line-height: calc(30px + 0.2vw);
}
h5 {
  font-size: 1.243em;
  line-height: calc(30px + 0.2vw);
}
h6 {
  font-size: 1.132em;
  line-height: calc(30px + 0.2vw);
} */
button {
  cursor: pointer;
}
a:visited,
a:link {
  text-decoration: none;
  color: #000;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
header .logo img {
  width: 100px;
}
header div ul {
  padding: 0.6rem;
}
@media (max-width: 575.98px) {
  header div ul {
    display: none;
  }
}
header div ul a {
  padding: 0.6rem;
  font-size: 1rem;
  color: #2d135a;
}
header div ul a:last-of-type {
  color: #fff;
  background: #2d135a;
}
.hero_banner img {
  width: 100%;
  height: 600px;
  vertical-align: top;
  margin-bottom: 40px;
}
.sd_wan_info {
  background: url(./images/image2.png) no-repeat;
  max-width: 100%;
  height: 400px;
  background-position: top;
  background-size: cover;
  position: relative;
}

.sd_wan_info button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 10px 30px;
  color: #2d135a;
  font-size: 16px;
  background: #fff;
}
.sd_wan_info h1 {
  padding-top: 100px;
  padding-left: 100px;
  font-size: 40px;
  color: #fff;
}
@media (max-width: 575.98px) {
  .sd_wan_info h1 {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 35px;
    color: #fff;
  }
}
.home_industries {
  text-align: center;
}
.home_industries h1 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 400;
  color: #2d135a;
  position: relative;
}
.home_industries h1::after {
  display: block;
  height: 2px;
  background-color: #421b85;
  content: '';
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.home_industries_block {
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.home_industries_block div {
  margin-bottom: 40px;
  position: relative;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.home_industries_block div:hover p:nth-of-type(2) {
  opacity: 1;
}
.home_industries_block div img {
  width: 300px;
  vertical-align: top;
}
.home_industries_block div p:nth-of-type(1) {
  color: #2d135a;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.home_industries_block div p:nth-of-type(2) {
  background: #fff;
  color: #2d135a;
  padding: 20px;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  font-weight: 200;
}
.home_industries_block div p:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_industries > button {
  padding: 10px 40px;
  font-size: 16px;
  background: #2d135a;
  color: #fff;
}
.home_request_a_demo_banner {
  margin-top: 20px;
  background: url(./images/customerPage.png) no-repeat;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: top;
  color: #fff;
}

.home_request_a_demo_banner h1 {
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  padding-top: 100px;
}
@media (max-width: 575.98px) {
  .home_request_a_demo_banner h1 {
    font-size: 60px;
  }
}
footer {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  color: #2d135a;
}
footer p {
  color: #421b85;
}
footer a:link,
footer a:visited {
  color: #421b85;
}
.footer_stay_connected ion-icon {
  color: #2d135a;
  font-size: 25px;
}
.footer_stay_connected ion-icon:nth-of-type(1) {
  color: #3b5998;
}
.footer_stay_connected ion-icon:nth-of-type(2) {
  color: #00acee;
}

.footer_stay_connected ion-icon:nth-of-type(4) {
  color: #0077b5;
}
.footer_stay_connected ion-icon:nth-of-type(5) {
  color: #c4302b;
}
footer h1 {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
}
.footer_support div,
.footer_support h4 {
  margin-bottom: 10px;
}
.footer_support h4 {
  opacity: 0.8;
}
/* ********  OUR FOCUS *******/
/* ************************/
.our_focus_banner {
  background: url(./images/our_focus_background_Image.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  text-align: center;
}
.our_focus_banner h1 {
  padding-top: 100px;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}
.our_focus_sections {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 40px;
}
.our_focus_sections > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.our_focus_sections > div div {
  flex: 0 1 45%;
  padding: 20px;
}
@media (max-width: 575.98px) {
  .our_focus_sections > div {
    flex-direction: column;
  }
  .our_focus_banner h1 {
    font-size: 80px;
    padding-top: 60px;
  }
  .our_focus_sections > div:nth-of-type(odd) {
    flex-direction: column-reverse;
  }
}
.our_focus_sections > div div img {
  max-width: 100%;
}
.our_focus_sections > div div p {
  line-height: 1.5;
  color: #5f6368;
}
.our_focus_sections > div div h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}
.our_focus_svg_icons img {
  width: 20px;
  margin-right: 10px;
}

/* About******** */
.about_banner {
  background: url(./images/about_us_hero.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  text-align: center;
}
.about_banner h1 {
  padding-top: 50px;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}

.about_our_story {
  background: url(./images/about/Our_Source_textured_background_3.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.about_our_story div {
  padding-top: 50px;
  padding-left: 100px;
  color: #fff;
}
.about_our_story div h1 {
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_our_story div p {
  max-width: 500px;
  font-size: 20px;
  line-height: 1.5;
}
.know_us_more {
  padding: 10px;
  margin-bottom: 50px;
}
.know_us_more > h1 {
  margin: 40px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #2d135a;
}

.know_us_more > div {
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.know_us_more div div {
  flex: 0 1 300px;
  background: #2d135a;
  color: #fff;
  padding: 20px 30px 50px 30px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.know_us_more div div h1 {
  margin: 10px 0;
  font-weight: 600;
}
.know_us_more div div img {
  width: 30px;
  margin-left: 20px;
}
.know_us_more div div p {
  line-height: 1.5;
  font-weight: 200;
}
@media (max-width: 575.98px) {
  .about_our_story div h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .about_our_story div p {
    font-size: 16px;
    max-width: 100%;
    word-break: break-all;
    hyphens: auto;
  }
  .about_banner h1 {
    padding-top: 60px;
    font-size: 60px;
  }
  .about_our_story div {
    padding: 10px;
    padding-top: 30px;
    color: #fff;
  }
  .know_us_more > div {
    justify-content: center;
  }
  .know_us_more > h1 {
    font-size: 30px;
  }
}
/********* Contact */
.contact_banner {
  background: url(./images/contact_banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  text-align: center;
}
.contact_banner h1 {
  padding-top: 50px;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}
.contact_main {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
}
.contact_main > h1 {
  padding: 40px 0;
  font-size: 40px;
  font-weight: 400;
  color: #2d135a;
}
.contact_main_sub1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact_main_sub1 div {
  flex: 0 1 350px;
  background: #2d135a;
  padding: 40px;
  color: #fff;
  margin-bottom: 20px;
}
.contact_form label {
  display: block;
  font-weight: 200;
  margin-bottom: 10px;
}
.contact_form input,
.contact_form textarea {
  width: 100%;
  display: block;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}
.contact_form button {
  padding: 5px 10px;
  font-size: 14px;
  background: #fff;
  width: 100%;
  margin-top: 20px;
}
.contact_form textarea {
  resize: none;
  max-height: 120px;
}
.contact_main_sub1 div:nth-of-type(2) {
  line-height: 1.5;
}
.contact_main_sub1 div:nth-of-type(2) p {
  margin-bottom: 20px;
}
.contact_main_sub1 div:nth-of-type(2) ion-icon {
  vertical-align: middle;
  font-size: 25px;
}
@media (max-width: 575.98px) {
  .contact_banner h1 {
    padding-top: 50px;
    color: #fff;
    font-size: 60px;
  }
  .contact_main_sub1 {
    justify-content: center;
    flex-direction: column;
  }
  .contact_main_sub1 div {
    padding: 20px;
  }
}
/********* SD_WAN********/
/*******************/
.sd_wan_banner {
  background: url(./images/SD-WAN_Page_Background2.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
.sd_wan_section_2 {
  width: 100%;
  height: 100px;
  background: #705cb1;
}
.sd_wan_section_3 {
  text-align: center;
  max-width: 1024px;
  margin: 30px auto;
  padding: 20px;
}
.sd_wan_section_3_4tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sd_wan_section_3_4tabs div {
  flex: 0 1 45%;
  text-align: start;
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .sd_wan_section_3_4tabs div {
    flex: 0 1 100%;
  }
}
.sd_wan_section_3 h1 {
  font-size: 40px;
}
.sd_wan_section_3 > p:nth-of-type(1) {
  max-width: 700px;
  margin: auto;
  font-size: 20px;
  margin: 30px auto;
}
.sd_wan_section_3_4tabs h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
.sd_wan_section_3_4tabs span img {
  margin-right: 10px;
  width: 25px;
}
.sd_wan_section_3_4tabs p {
  font-weight: 200;
  line-height: 1.5;
  text-align: justify;
}
.sd_wan_section_3 > p:nth-of-type(2) {
  font-size: 25px;
  margin: 60px auto;
}
.sd_wan_section_3_subSec2 {
  background: url(./images/abstract_wave01.png);
  background-size: cover;
  background-position: center;
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sd_wan_section_3_subSec2 * {
  flex: 0 1 50%;
}
@media (max-width: 575.98px) {
  .sd_wan_section_3_subSec2 * {
    flex: 0 1 100%;
  }
}
.sd_wan_section_3_subSec2 div {
  max-width: 400px;
}
.sd_wan_section_3_subSec2 div img {
  width: 100%;
  height: 100%;
}
.sd_wan_section_3_subSec2 h1 {
  align-self: center;
  font-weight: 200;
  color: #2d135a;
  text-align: left;
}
.sd_wan_section_4 {
  background: #2d135a;
  color: #fff;
  padding: 10px;
}
.sd_wan_section_4 h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.sd_wan_section_4 > div {
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}
.sd_wan_section_4 > div > div {
  flex: 0 1 50%;
  text-align: center;
}

.sd_wan_section_4 > div > div p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 20px;
}
.sd_wan_section_4 > div > div p:nth-of-type(2) {
  font-weight: 200;
  font-size: 16px;
}
.sd_wan_section_4 > div > div button {
  padding: 10px 30px;
  margin: 20px 0;
  background: #fff;
}
@media (max-width: 575.98px) {
  .sd_wan_section_3 h1 {
    font-size: 30px;
  }
  .sd_wan_section_3_4tabs h1 {
    font-size: 20px;
    text-align: center;
  }
  .sd_wan_section_4 > div > div {
    flex: 0 1 100%;
  }
  .sd_wan_section_4 > div {
    padding: 10px;
  }
  .sd_wan_section_3 > p:nth-of-type(2) {
    font-size: 20px;
  }
  .sd_wan_section_3_4tabs p {
    text-align: justify;
  }
  .sd_wan_section_3_subSec2 h1 {
    font-size: 30px;
  }
}

/* @media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
} */
